/* Set up the grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 50px auto;
  max-width: 1200px;
}

/* Style each grid item */
.grid-item {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

.grid-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.grid-item:hover img {
  filter: brightness(0.7);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.grid-item:hover .overlay {
  opacity: 1;
}

.overlay h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 100;
}

.overlay p {
  font-size: 1rem;
}

/* Center the section headers */
.section-header {
  text-align: center;
  margin: 50px 0;
  font-size: large;
  font-weight: 200;
  letter-spacing: 1px;
}

/* Set the width of the main container to 80% and center it */
main {
  width: 80%;
  margin: 0 auto;
}